a{
    text-decoration: none;
}
.card{
    padding: 3em 2em;
}

.card i{
    font-size: 4em;
}

#card-curso:hover{
    background-color: red;
    color: white
}

#card-conclusao:hover{
    background-color: green;
    color: white;
}